table{
  font-size: 13px;
}
th{
  padding: 1px 1px 5px 1px;
  text-align: center
}
td{
  padding: 1px 5px 7px 5px;
}
.get_pages{
  display: flex;
  padding: 0;
}

.get_pages > span{
  padding: 1px 5px 7px 5px;
}

.input_field{
  width: 100%;
  margin-bottom: 10px;
}

h4{
  margin: 0;
}

.errors-value{
  color: white;
  background-color: red;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-size: 12px;
}

.errors-content{
  background-color: #f0f0f0;
  width: 450px;
  /*border-color: : red;*/
  font-size: 12px;
  margin-bottom: 20px;
  border: solid;
  border-width: 2px;
  border-color: red;
}

.errors-text{
  margin: 33px;
}
